app-project-components-screen {
    display: flex;
    flex-direction: column;
}
.project-components-ctn {
    width: 100%;
    background-color: var(--appshell-color-grey-light);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .components-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        grid-auto-rows: 1fr;
        gap: 1.5rem;
        padding: 1.5rem;
        box-sizing: border-box;
        max-width: 127.5rem; // 4 items max (x its max width) + 3xgaps + 2xpadding
        width: 100%;
    }

    .no-components-dialog {
        background-color: #fff;
        border: 1px solid var(--appshell-color-grey-warm);
        height: auto;
        margin: 5rem auto;
        padding: 2.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        appshell-icon, mat-icon {
            height: 5.5rem;
            width: 5.5rem;
            margin-bottom: 0.5rem;
        }

        h2 {
            color: #000;
            text-align: center;
            font-family: "AppShellTextFont";
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2rem;
        }

        p {
            color: #000;
            text-align: center;
            font-family: "AppShellTextFont";
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    
    .no-results-ctn {
        width: 100%;
        height: 100%;
        max-width: 120rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4.5rem;
        color: var(--appshell-color-secondary-main);
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;

        .no-results-icon {
            width: 6rem;
            height: 6rem;
            color: var(--appshell-color-secondary-light);
            margin-bottom: 1.25rem;

            appshell-icon, mat-icon {
                height: 6rem;
                width: 6rem;
                font-size: 6rem;
            }
        }
    }
}