.product-ctn {
    padding: 0 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 50rem;

    form {
        display: flex!important;
        flex-direction: column!important;
        gap: 1.5rem;

        --mat-select-enabled-trigger-text-color: var(--bi-color-secondary-main);
        --mdc-outlined-text-field-focus-outline-color: var(--bi-color-accent-green-main);
        --mat-form-field-subscript-text-line-height: 1.5rem;
        --mdc-outlined-text-field-container-shape: 0.125rem;

        &>div {
            display: flex;
            flex-direction: column;

            
            --mat-form-field-error-text-color: #E10A0A;
            --mdc-outlined-text-field-error-outline-color: #E10A0A;
            --mdc-outlined-text-field-error-caret-color: #E10A0A;

            .upper-input-text {
                font-family: "BoehringerForward";
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.25rem;
                margin-bottom: .5rem;
                display: flex;
                flex-direction: row;

                mat-label {
                    color: var(--bi-color-secondary-main);
                    flex: 1;
                }

                &>span {
                    color: #5C5B59;
                    opacity: 0.6;
                }
            }

            //--mdc-outlined-text-field-error-caret-color

            .mat-mdc-form-field:not(.mat-form-field-invalid) {
                --mdc-outlined-text-field-error-caret-color: initial;
            }

            .mat-mdc-form-field .mat-mdc-text-field-wrapper {
                height: 3rem;

                .mat-mdc-form-field-flex {
                    height: 100%;
                }

                .mat-mdc-form-field-infix {
                    height: 100%;
                    min-height: unset;
                    padding: 0.75rem 0;
                }
            }

            .mat-mdc-form-field-subscript-wrapper {

                .mat-mdc-form-field-hint-wrapper {
                    opacity: 0.6;
                    padding: 0;
                    padding-top: .5rem;
                }
                
                .mat-mdc-form-field-error-wrapper {
                    padding: 0;
                }
            }
            
            mat-error {
                display: flex;
                flex-direction: column;
                gap: .25rem;

                .error-message {
                    display: flex;
                    flex-direction: row;
                    gap: .25rem;

                    .error-icon {
                        padding-top: .2rem;

                        span{
                            height: 1rem;
                            width: 1rem;
                        }
                    }
                }

            }
        }
    }

    .action-buttons {
        margin-left: auto;
        margin-top: 2.5rem;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;

        .close-dialog-btn {
            color: var(--bi-color-secondary-main);
            font-family: "BoehringerForward";
            padding: 0.75rem;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            text-decoration-line: underline;
            text-decoration-color: var(--bi-color-accent-green-main);
            text-decoration-thickness: 3px;
            text-underline-offset: 6px;
            
            --mat-text-button-hover-state-layer-opacity: 0;
            --mat-text-button-focus-state-layer-opacity: 0;
            --mat-text-button-pressed-state-layer-opacity: 0;
            --mat-text-button-ripple-color: transparent;

            &:hover {
                color: var(--bi-color-secondary-medium);
                background-color: transparent;
                text-decoration-color: var(--bi-color-accent-green-medium);
            }
        }

        .action-dialog-btn {
            --mdc-filled-button-container-height: unset!important;
            display: inline-flex;
            align-items: center;
            padding: 0.75rem 1.5rem;
            border-radius: 0.125rem;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            height: auto;
            color: var(--bi-color-secondary-main)!important;
            text-decoration: none;
            font-family: BoehringerForward;
            border: 2px solid var(--mdc-filled-button-container-color);

            &:disabled {
                border: none;
            }
        }
    }

}

div.mat-mdc-select-panel {
    box-shadow: none!important;
    border: 1px solid #2E2D2C;
    margin-top: 0.25rem;
}