.page-not-found-ctn {
    display: flex;
    background-color: var(--appshell-color-grey-light);
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;

    .page-not-found-dialog {
        background-color: #fff;
        border: 1px solid var(--appshell-color-grey-warm);
        height: auto;
        margin: 8rem auto;
        padding: 2.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        appshell-icon, mat-icon {
            height: 5.5rem;
            width: 5.5rem;
            margin-bottom: 0.5rem;
        }

        h2 {
            color: #000;
            text-align: center;
            font-family: "AppShellTextFont";
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2rem;
        }

        p {
            color: #000;
            text-align: center;
            font-family: "AppShellTextFont";
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

        button {
            margin-top: .5rem;
            padding: 0.5rem 1.5rem;
            box-sizing: content-box;
            height: 2rem;
        }
    }
}