.top-disclaimer {
    width: 770px; 
    padding: 0.5rem 1.25rem;
    background: var(--appshell-color-blue-light);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
        color: var(--appshell-color-dark-green-main); 
        font-size: 14px; 
        font-family: "AppShellTextFont"; 
        font-weight: 400; 
        line-height: 20px; 
        word-wrap: break-word;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
    }
}