app-request-deletion-dialog {
  width: 38.25rem;
  display: block !important;
  padding: 1.5rem;
  box-sizing: border-box;

  > * {
    padding: 0 !important;
    color: var(--appshell-color-dark-green-main) !important;
  }

  .dialog-header {
    margin: 0.5rem 0 0 !important;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
      margin: 0 !important;
      padding: 0;
      font-family: "AppShellHeadingFont";
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;

      &::before,
      &::after {
        height: auto !important;
      }
    }

    appshell-icon {
      cursor: pointer;
    }
  }

  mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 100px;

    .help-message-ctn {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75rem;
      margin: 1.5rem 0 !important;
      padding: 1rem;

      background-color: #d2f2f7;
      color: #076d7e;

      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }

    mat-dialog-actions {
    gap: 1rem;

    button:first-of-type {
        padding: 0.75rem 1rem;

        font-size: 0.875rem;
        line-height: 1.25rem;

        --mdc-text-button-container-height: unset !important;
        --mdc-text-button-container-padding-horizontal: 0;

        &:hover {
        background-color: transparent;
        }
    }

    button:last-of-type {
        padding: 0.75rem 1.5rem;
        height: auto;

        font-size: 0.875rem;
        line-height: 1.25rem;

        --mdc-filled-button-container-height: unset !important;

        display: inline-flex;
        align-items: center;

        border: 2px solid var(--mdc-filled-button-container-color);
        border-radius: 0.125rem;

        &:disabled {
        border: none;
        }
    }
    }
}