<div class="dialog-header">
    <h2 mat-dialog-title>{{ data.componentName }} - Request Deletion</h2>
    <appshell-icon icon="close" (click)="onCancel()"></appshell-icon>
</div>
<mat-dialog-content>
    <div class="help-message-ctn">
        <appshell-icon class="info-icon" icon="circle_i"></appshell-icon>
        <span>To request deletion for deployed components, a change requested is needed.</span>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="accent" (click)="onAccept()">Request</button>
</mat-dialog-actions>
