<appshell-platform-layout
  [headerVariant]="headerVariant"
  [applicationLogo]="applicationLogo"
  [applicationName]="applicationName"
  [applicationNameLink]=""
  [appShellHelpLink]="appShellHelpLink"
  [headerLinks]="headerLinks"
  [headerProjectPicker]="projectPicker"
  [headerSecondaryPicker]="catalogPicker"
  [sidenavSections]="sidenavSections"
  [sidenavLinks]="sidenavLinks"
  [loggedUser]="loggedUser"
  (userLoggedIn)="login()"
  (userLoggedOut)="logout()"
  (userProjectPick)="pickProject($event)"
  (userSecondaryPick)="pickCatalog($event)"
  (platformPickerClick)="showPlatformSelector()"
  [isPlatformPickerOpened]="isPlatformSelectorOpened"
  [appShellNotificationsLink]="appShellNotificationsLink"
  [appShellNotificationsCount]="appShellNotificationsCount"
>
</appshell-platform-layout>
<appshell-toasts [toastsLimit]="toastLimitInScreen"></appshell-toasts>