<appshell-layout
  [headerVariant]="headerVariant"
  [applicationSymbol]="applicationSymbol"
  [applicationName]="applicationName"
  [applicationNameLink]=""
  [appShellHelpLink]="appShellHelpLink"
  [headerLinks]="headerLinks"
  [headerPicker]="catalogPicker"
  [sidenavSections]="sidenavSections"
  [sidenavLinks]="sidenavLinks"
  [loggedUser]="loggedUser"
  (userLoggedIn)="login()"
  (userLoggedOut)="logout()"
  (userPick)="pickCatalog($event)"
  [appShellNotificationsLink]="appShellNotificationsLink"
  [appShellNotificationsCount]="appShellNotificationsCount"
>
</appshell-layout>
<appshell-toasts [toastsLimit]="toastLimitInScreen"></appshell-toasts>