.community-page-content {
    line-height: 150%;
    max-width: 50rem;
    display: block;
    padding: 0rem 1.5rem 1.5rem;
    box-sizing: border-box;
    color: var(--appshell-color-secondary-main);

    * {
        max-width: 100%;
        text-wrap: auto;
    }
}

.no-results-ctn {
    width: 100%;
    height: 100%;
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.5rem;
    color: var(--appshell-color-secondary-main);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;

    .no-results-icon {
        width: 6rem;
        height: 6rem;
        color: var(--appshell-color-secondary-light);
        margin-bottom: 1.25rem;

        appshell-icon, mat-icon {
            height: 6rem;
            width: 6rem;
            font-size: 6rem;
        }
    }
}