.mat-mdc-tooltip>div {
    background-color: #051D19!important;
    color: #ffffff!important;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    max-width: 15rem;
}