<h2 mat-dialog-title>Access Restricted</h2>
<mat-dialog-content>
    To view code, you need to have access to Bitbucket. To request access, fill out the access request form, selecting the following options:
    <br/>
    <ol>
      <li>Select an Account</li>
      <li>Select Add role</li>
      <li>Select basic applications (LOS training)</li>
      <li>Select access to be granted: Bitbucket User</li>
    </ol>
    <br/>
    This request will be routed to your manager for approval. Once approved you may receive a training (if not done before) and after it you will be able to access the repository.
</mat-dialog-content>
<mat-dialog-actions align="end">
    <a mat-dialog-close>Cancel</a>
    <a [href]="requestUrl" target="_blank" mat-flat-button color="accent" mat-dialog-close>Request Access</a>
</mat-dialog-actions>