@use '@angular/material' as mat;
@use "@appshell/ngx-appshell/styles/appshell-typography-config" as config;
@import '@appshell/ngx-appshell/styles/appshell.theme.scss';

@include mat.typography-hierarchy(config.$appshell-typography);

:root {
    --main-color: #{map-get($appshell-primary-palette, 800)};
    --main-color-contrast: #{map-get($appshell-accent-palette, 500)};
    --main-color-contrast-hover: #{map-get($appshell-accent-palette, 200)};
    --main-color-dark: #{map-get($appshell-primary-palette, 900)};
    --text-color-on-main-color: #{map-get(map-get($appshell-primary-palette, contrast), 800)};
    --background-color: #{map-get($appshell-theme, background-color)};
    --text-color-on-background: #{map-get($appshell-primary-palette, 900)};
}

html, body {
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    font-family: BoehringerForwardHead!important;
    font-weight: 500!important; // Needed since angular material theming for typographies is not working with all headings
}
h4,h5,h6 {
    font-family: BoehringerForwardHead!important;
    font-weight: 700!important; // Needed since angular material theming for typographies is not working with all headings
}

router-outlet+* {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

.mat-mdc-tooltip>div {
    background-color: var(--background-color)!important;
    color: var(--text-color-on-background)!important;
}
